/*-----------------------------------------------------------------------------
base.css
Enthält alle CSS Variabeln und grundlegende Regeln sowie zentrale helper.

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Variables
-----------------------------------------------------------------------------*/

:root {
    /*
    Farben
    ----------------------------------------*/
    --color-brand: rgb(183, 68, 44);
    --color-text: #000;
    --color-headlines: #666;
    --color-borders: rgba(0, 0, 0, 0.3);
    /*
    Abstände. Hierzu gibt es auch ein schönes Konzept
    https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62 */
    --content-width: 960px;
    /*
    Innenabstände umlaufend, z.B. für Buttons.
    ----------------------------------------*/
    --space-inset: 1rem;
    --space-inset-s: 0.5rem;
    --space-inset-l: 1.5rem;
    /*
    Vertikale Abstände von Stapeln, also
    Elementen, die untereinander angeordnet
    werden.
    ----------------------------------------*/
    --space-stack: 1rem;
    --space-stack-xs: 0.25rem;
    --space-stack-s: 0.5rem;
    --space-stack-l: 1.5rem;
    --space-stack-xl: 2rem;
    --space-stack-xxl: 4rem;
    /*
    Horizontale Abstände von Reihen, also
    Elementen, die nebeneinander angeordnet
    werden.
    ----------------------------------------*/
    --space-inline: 1rem;
    --space-inline-xs: 0.25rem;
    --space-inline-s: 0.5rem;
    --space-inline-l: 1.5rem;
    --space-inline-xl: 2rem;
    /*
    Schrift
    ----------------------------------------*/
    --fontfamily: "Helvetica Neue", Helvetica, sans-serif;
    --fontsize: 1rem;
    --fontsize-s: 0.75rem;
    --fontsize-l: 1.5rem;
    --fontsize-xl: 2rem;
    --fontsize-xxl: 3rem;
}


/* Basic Styles
-----------------------------------------------------------------------------*/
head {
    font-family: Lato;
    font-size: 20px;
    color: black;
}

li {
  float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    overflow: hidden;
    background-color: #D9D9D9;
}

a.nav-rechts {
    font-size: 20px;
    color: black;
    padding-top: 13px;
    padding-left: 50px;
    font-weight: bold;
    font-family: Lato;
}

img.TESLA {
    float: right;
    margin-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
    height: 20px;
}


li a:hover {
    color: #78B1FC;
}

nav.navbar{
    background-color: #D9D9D9;
    height: 50px;
    width: auto;
}


body {
    font-family: Roboto Slab;
    font-size: 20px;
    color: black;
}



/* helper
-----------------------------------------------------------------------------*/

.hidden {
    display: none !important;
}
