/*-----------------------------------------------------------------------------
base.css
Enthält alle CSS Variabeln und grundlegende Regeln sowie zentrale helper.

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Variables
-----------------------------------------------------------------------------*/

:root {
    /*
    Farben
    ----------------------------------------*/
    --color-brand: rgb(183, 68, 44);
    --color-text: #000;
    --color-headlines: #666;
    --color-borders: rgba(0, 0, 0, 0.3);
    /*
    Abstände. Hierzu gibt es auch ein schönes Konzept
    https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62 */
    --content-width: 960px;
    /*
    Innenabstände umlaufend, z.B. für Buttons.
    ----------------------------------------*/
    --space-inset: 1rem;
    --space-inset-s: 0.5rem;
    --space-inset-l: 1.5rem;
    /*
    Vertikale Abstände von Stapeln, also
    Elementen, die untereinander angeordnet
    werden.
    ----------------------------------------*/
    --space-stack: 1rem;
    --space-stack-xs: 0.25rem;
    --space-stack-s: 0.5rem;
    --space-stack-l: 1.5rem;
    --space-stack-xl: 2rem;
    --space-stack-xxl: 4rem;
    /*
    Horizontale Abstände von Reihen, also
    Elementen, die nebeneinander angeordnet
    werden.
    ----------------------------------------*/
    --space-inline: 1rem;
    --space-inline-xs: 0.25rem;
    --space-inline-s: 0.5rem;
    --space-inline-l: 1.5rem;
    --space-inline-xl: 2rem;
    /*
    Schrift
    ----------------------------------------*/
    --fontsize: 1rem;
    --fontsize-s: 0.75rem;
    --fontsize-l: 1.5rem;
    --fontsize-xl: 2rem;
    --fontsize-xxl: 3rem;
}


/* Basic Styles
-----------------------------------------------------------------------------*/
body, html, .main {
    height: 100%;
}


section {
    min-height: 100%;
}

#navbar {
  border-radius: 0px 0px 20px 20px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #D9D9D9;
  height: 50px;
  width: 100%;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  font-family: 'Lato', sans-serif;
  color: black;
  text-align: center;
  padding-top: 13px;
  padding-left: 50px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  font-kerning: auto;
}

#navbar a:hover {
  color: #78B1FC;

}

#TESLA {
  padding-right: 50px;
  float: right;
}
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#Start{
  background-url: images/Touch.jpg;

}

h1{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding-left: 50px;
}

p{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
}

#Konzept{
  padding-top: 3%;
}

#Prototyp{
  padding-top: 3%;
}

#Dokumentation{
  padding-top: 3%;
}

#Team{
  padding-top: 3%;
}


.hidden {
    display: none !important;
}
