.btnselect {
    position: center;
   background-color: #333333;
}


#dsc {
    display: none;
}

#story1p0 {
    display: none;
}

#story1p1 {
    display: none;
}

#story1p2 {
    display: none;
}

#story1p3 {
    display: none;
}

#story1p4 {
    display: none;
}

#story1p5 {
    display: none;
}

#story1p6 {
    display: none;
}

#story1p7 {
    display: none;
}

#story1p8 {
    display: none;
}

#story1p9 {
    display: none;
}

#story1p10 {
    display: none;
}

#story1p11 {
    display: none;
}

#story1p12 {
    display: none;
}

#story1p13 {
    display: none;
}

#story1p14 {
    display: none;
}

#story1p15 {
    display: none;
}

h4 { text-align: center;
 }

