.btnselect {
    position: center;
   background-color: #333333;
}

<<<<<<< HEAD
#dsc {
    display: none;
}

#story1p0 {
    display: none;
}

#story1p1 {
    display: none;
}
=======
h4 { text-align: center;
 }
>>>>>>> de126aa07c5561c84c00d2456bd572bfaa18c8a4
